#wrap{
	text-align: center;
}
#main_popup {
  height: 100px;
  width: 200px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
img{
	position: relative;
	top: 1px;
}
a{
  outline: none;
}
h2 {
  font-family: 'Lobster Two', cursive;
  display: inline;
  margin-left: 10px;
}
p {
  font-size: 1em;
}
button {
  border-style: none;
  background-color: #000000;
  color: #FFFFFF;
  outline: none;
  height: 200%;
  width: 33%;
  display: inline;
}
.bButtons{
  float: left;
  width: 33%;
  background-color: #03a303;
}
#stateButton{
  border-radius: 2px;
}
hr{
  clear: both;
  border-top: 1px solid;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
form{
	text-align: left;
}
#content{
	background-color: #EDEDED;
	margin-top: 15%;
	margin-bottom: 5%;
	padding: 5%;
	border-radius: 2px;
}